<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="/">{{ appInfo.name }}</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                {{#if user}}
                {{!-- User logged in --}}
                {{!-- Links --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_links" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ __ "Links" }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_links">
                        <a class="dropdown-item" href="/links">{{ __ "All links" }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/links/add">{{ __ "Add a link" }}</a>
                    </div>
                </li>

                {{!-- Profile --}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_profile" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ __ "User:"}} {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_profile">
                        <a class="dropdown-item" href="/users/profile">{{ __ "Profile" }}</a>

                        <div class="dropdown-divider"></div>

                        {{!-- Logout --}}
                        <a class="dropdown-item" href="/logout">{{ __ "Logout" }}</a>
                    </div>
                </li>

                {{else}}

                {{!-- NOT user logged in --}}
                <li class="nav-item">
                    <a href="/signin" class="nav-link">{{ __ "SignIn" }}</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">{{ __ "SignUp" }}</a>
                </li>

                {{/if}}

                {{!-- Languages --}}
                <li class="nav-item">
                    <a class="nav-link px-0" href="/lang/?lang=es">
                        <img alt="sp flag" src="/img/lang/SP_flag_icon.webp" width="35px">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-0" href="/lang/?lang=en">
                        <img alt="gb flag" src="/img/lang/GB_flag_icon.webp" width="35px">
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>