<div class="container">

    <div class="row">

        {{#each links}}
        {{!-- There are records saved... --}}

        <div class="card rounded-lg mx-2 my-3 mx-auto text-center">
            <div class="card-body">
                <h4 class="card-title"><a href="{{ url }}" target="_blank">{{ title }}</a></h4>
                <h6 class="card-subtitle text-muted">{{ timeago created_at }}</h6>
                <p class="card-text mt-3">{{ description }}</p>
            </div>
            <div class="card-footer">
                <a href="/links/delete/{{ id }}" class="btn btn-danger">Delete link!</a>
                <a href="/links/edit/{{ id }}" class="btn btn-secondary">Edit</a>
            </div>
        </div>

        {{else}}

        {{!-- No records to show --}}
        <div class="card rounded-lg mx-2 my-3 mx-auto text-center">
            <div class="card-body text-center">
                <p>There are not links saved yet</p>
                <a href="/links/add">Create One!</a>
            </div>
        </div>

        {{/each}}

    </div>
</div>


</div>