<div class="container p-2">
    <div class="row">

        {{#each links}}
        {{!-- There are records saved... --}}

        <div class="card my-3 pt-3 mx-auto shadow text-center">
            <h2 class="card-title"><a href="{{ url }}" target="_blank">{{ title }}</a></h2>
            <h6 class="card-subtitle text-muted">{{ timeago created_at }}</h6>
            <div class="card-body">
                <p class="card-text mt-3">{{ description }}</p>
            </div>
            <div class="card-footer p-3">
                <a class="btn btn-danger" href="/links/delete/{{ id }}">{{ __ 'Delete link!' }}</a>
                <a class="btn btn-secondary ml-3" href="/links/edit/{{ id }}">{{ __ 'Edit' }}</a>
            </div>
        </div>

        {{else}}

        {{!-- No records to show --}}
        <div class="card border border-dark mx-2 my-4 p-4 mx-auto shadow text-center">
            <div class="card-title text-center">
                <h4>{{ __ "There are not links saved yet" }}</h4>
            </div>
            <div class="card-body">
                <a class="btn btn-primary" href="/links/add">{{ __ "Create One!" }}</a>
            </div>
        </div>

        {{/each}}

    </div>
</div>