<div class="container p-4">
    <div class="row">
        <div class="card col-md-6 rounded-lg mx-2 p-3 my-3 mx-auto text-center border-dark">
            <h2>{{ __ "Welcome" }}</h2>
            <h4>{{ user.fullname }}</h4>
            <h5 class="text-info">{{ user.username }}</h5>
            <a href="/links" class="btn btn-primary mt-4 mx-auto mb-2">{{ __ "List your links" }}</a>
            <a href="/users/delete" class="text-muted">{{ __ "delete account" }}</a>
        </div>
    </div>
</div>